body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 100px;
}

h1 {
    color: #1e3a8a;
    font-size: 40px;
}

p {
    color: #555;
    font-size: 20px;
}
.event-card {
    background-color: white;
    width: 350px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
}

.event-card img {
    width: 100%;
    border-radius: 10px;
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 16px;
}
.payment-box {

    background-color: #eeeeee;

    padding: 20px;

    border-radius: 10px;

    margin-bottom: 25px;

}
.rib-image{

    width:250px;

    margin-top:15px;

    border-radius:8px;

}
.refuse {
    background-color: red;
}
.confirm {
    background-color: green;
}
.ticket {

    background-color: white;

    width: 400px;

    margin: 40px auto;

    padding: 25px;

    border-radius: 15px;

    border: 2px solid black;

    text-align: center;

}
.qr-box {

    width: 170px;

    height: 170px;

    border: 2px dashed black;

    margin: 25px auto;

    display: flex;

    justify-content: center;

    align-items: center;

    font-weight: bold;

}
.info {

    color: gray;

    font-size: 14px;

}
.qr-box {
    display: flex;
    justify-content: center;
    margin: 15px auto;
}
#downloadTicket{
    display:block;
    margin:20px auto;
    background:red;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

#downloadTicket:hover{
    opacity:0.9;
}
.statut{

    font-weight: bold;

}


.etat-attente{
    color: orange;
    font-weight: bold;
}

.etat-confirme{
    color: green;
    font-weight: bold;
}

.etat-refuse{
    color: red;
    font-weight: bold;
}